/**
 * This Document Was Created By Wirabumi SoftWare
 * author Rizal 
 */
.OBToolbarIconButton_icon_oez_docrouting {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("./images/iconButton-stamp.png");
}	
